<!--
@license
Copyright (c) 2016 The Polymer Project Authors. All rights reserved.
This code may only be used under the BSD style license found at http://polymer.github.io/LICENSE.txt
The complete set of authors may be found at http://polymer.github.io/AUTHORS.txt
The complete set of contributors may be found at http://polymer.github.io/CONTRIBUTORS.txt
Code distributed by Google as part of the polymer project is also
subject to an additional IP rights grant found at http://polymer.github.io/PATENTS.txt
-->

<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="../bower_components/paper-input/paper-input.html">
<link rel="import" href="../bower_components/paper-button/paper-button.html">
<link rel="import" href="../bower_components/iron-form/iron-form.html">

<link rel="import" href="shared-styles.html">

<dom-module id="my-data-entry">
  <template>
    <style include="shared-styles">
      :host {
        display: block;

        padding: 10px;
      }
    </style>

    <div class="card">
      <!-- <div class="circle">2</div>
      <h1>View Two</h1>
      <p>Ea duis bonorum nec, falli paulo aliquid ei eum.</p>
      <p>Id nam odio natum malorum, tibique copiosae expetenda mel ea.Detracto suavitate repudiandae no eum. Id adhuc minim soluta nam.Id nam odio natum malorum, tibique copiosae expetenda mel ea.</p> -->

      <h2>Data Entry Form</h2>
      <iron-form id="form4">
      <form action="/foo" method="get">
      <paper-input error-message="This field is required" auto-validate required label="First Name"></paper-input>
      <paper-input error-message="This field is required" auto-validate required label="Last Name"></paper-input>
      <paper-input error-message="This field is required" auto-validate required label="Address"></paper-input>
      <paper-input error-message="Invalid input" pattern="[0-9]{6}" auto-validate required label="Pin"></paper-input>
      <paper-input error-message="Invalid input" pattern="[789][0-9]{9}" auto-validate required label="Phone"></paper-input>
      <paper-input error-message="Invalid input" pattern="[0-9]{1,15}" auto-validate required label="Gross Salary"></paper-input>
      <paper-input error-message="Invalid input" pattern="[0-9]{1,15}" auto-validate required label="Net Salary"></paper-input>
      <br>
      <div>
        <paper-button raised onclick="_delayedSubmit(event)" disabled id="form4Submit">
      <paper-spinner id="spinner" hidden></paper-spinner>Submit</paper-button>
      </div>
      
      


      </form>
        <div class="output"></div>
      </iron-form>
    
      <!-- <paper-input error-message="letters only!" pattern="[a-zA-Z]*" auto-validate label="this input requires letters only"></paper-input>
      <paper-input value="pre-filled 123" error-message="letters only!" pattern="[a-zA-Z]*" auto-validate label="this input requires letters only"></paper-input>
      <paper-input allowed-pattern="[a-zA-Z]" auto-validate label="this input will only let you type letters"></paper-input>
      <paper-input error-message="letters only!" pattern="[a-zA-Z]*" label="this input is manually validated" required id="inputForValidation"></paper-input> -->

      
      
        



  </template>











  <script>
    class MyDataEntry extends Polymer.Element {
      static get is() { return 'my-data-entry'; }


      


    }
    window.customElements.define(MyDataEntry.is, MyDataEntry);
    form4.addEventListener('iron-form-submit', function(event) {
      this.querySelector('.output').innerHTML = JSON.stringify(event.detail);
      spinner.active = false;
      spinner.hidden = true;
      form4Submit.disabled = false;
    });
    form4.addEventListener('change', function(event) {
      // Validate the entire form to see if we should enable the `Submit` button.
      form4Submit.disabled = !form4.validate();
    });
    function _delayedSubmit(event) {
      spinner.active = true;
      spinner.hidden = false;
      form4Submit.disabled = true;
      // Simulate a slow server response.
      setTimeout(function() {
        form4.submit()
      }, 1000);
    }

    

    
  </script>
</dom-module>
