<!-- Load the Polymer.Element base class -->
<link rel="import" href="../bower_components/polymer/polymer-element.html">


<!-- define your dom module -->
<dom-module id="my-new-view">
    <template>
        <style>
        :host{
            display: block;
            padding: 15px;
        }
        </style>
        <!-- define your html part here to be displayed -->
        <h2>Hello i am from my-new-view</h2>        
    </template>
    <script>
        // your new element extend the Polymer.Element base class
        class MyNewView extends Polymer.Element{
            static get is(){return "my-new-view";}
        }
        // now register  your new custom element, so the browser can use it
        customElements.define(MyNewView.is,MyNewView);
    </script>


</dom-module>