<!-- Load the Polymer.Element base class -->
<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="../bower_components/iron-flex-layout/iron-flex-layout-classes.html">

<link rel="import" href="../bower_components/paper-spinner/paper-spinner.html">
<link rel="import" href="shared-styles.html">
<link rel="import" href="../bower_components/iron-ajax/iron-ajax.html">




<!-- define your dom module -->
<dom-module id="my-product-list">
    <template>
        <style include="shared-styles">
        :host{
            display: block;
            padding: 15px;
        }
        .container {
            background-color: #ccc;
            padding: 5px;
            margin: 0;
            }
            .container > div {
            padding: 15px;
            margin: 5px;
            background-color: white;
            min-height: 20px;
            }
            .responsiv-img{
                border:2px solid #ececec;
            }
            .indent-50{
                text-indent: 50px;
            }
            .indent-15{
                text-indent: 15px;
            }
            .container.my-product-list{
                padding: 2px;
            }
            .container.my-product-list > div.my-product-list{
                margin: 0px;
            }
        </style>
        <!-- define your html part here to be displayed -->
     
        
        

        <!-- <h2 class="page-heading">Products (list)</h2>    -->
        


        <!-- <div role="listbox">
            <paper-icon-item>
                <iron-icon slot="item-icon" icon="inbox"></iron-icon>
                <img src="[[item.avatar_url]]"  sizing="cover" style="width:100%"/>
                Inbox
            </paper-icon-item>           
        </div> -->
        <template is="dom-if" if="{{showLoader}}">
            <div align="center"><paper-spinner active>...</paper-spinner></div>
        </template>
    
        <iron-ajax auto
            url="https://api.github.com/users?since=135"
            params='{"type":"all"'
            handle-as="json"
            on-response="handleResponse" last-response="{{ajaxResponse}}"></iron-ajax>
    
            <template is="dom-if" if="{{!showLoader}}">
            <div  class="vertical-section-container">
                <template is="dom-repeat" items="[[ajaxResponse]]">
                    <!-- <div class="card-image">                
                    <img src="[[item.avatar_url]]"  sizing="cover" style="width:100%"/>
                    <div class="title">{{item.login}}</div>
                    <div class="container">            
                    <div><span class="hilight">Type </span> {{item.type}}</div>
                    </div>
                        
                    </div> -->
                    <!-- <div role="listbox">
                        <paper-icon-item> 
                            <div id="contentIcon" class="content-icon">
                                <img src="[[item.avatar_url]]" alt="">
                             </div>                            
                            <paper-item-body three-line>
                            <div>{{item.login}}</div>
                            <div secondary>Jan 9, 2014</div>
                            </paper-item-body>
                        </paper-icon-item>           
                    </div> -->

                                            
                    
                    <div class="container flex-horizontal-with-ratios">
                        <div class="cardlist">
                        <div><img src="[[item.avatar_url]]" align="left" width="40" class="responsiv-img"> <span class="indent-50 title">{{item.login}}</span></div>
                        <div class="indent-15"><span class="hilight">Type </span> {{item.type}}</div>
                        
                        </div>
                        <!-- <div class="flexchild">two</div>
                        <div class="flex2child">three</div> -->
                    </div>
                   
                </template>
            </div>
            </template>
      
           
    </template>
    <script>
        // your new element extend the Polymer.Element base class
        class MyProductList extends Polymer.Element{
            static get is(){return "my-product-list";}
            static get properties() {
            return {
                showLoader:{
                type:Boolean,
                value:true        

                }
            }
           
        }
        handleResponse(){
            this.showLoader =false;
        }
        }
        // now register  your new custom element, so the browser can use it
        customElements.define(MyProductList.is,MyProductList);
    </script>


</dom-module>