<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="../bower_components/paper-spinner/paper-spinner.html">
<link rel="import" href="shared-styles.html">
<link rel="import" href="../bower_components/iron-ajax/iron-ajax.html">

<dom-module id="my-product-card">
    <template>
        <style include="shared-styles">
            :host{
                display: block;
                padding: 15px;
            }
            
            .card-image{
                box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
                transition: 0.3s;
                width: 21%;
                float: left;
                margin: 1%;
            }
            .card-image:hover {
                box-shadow: 0 4px 8px 0 rgba(17, 15, 15, 0.2);
            }
            .container {
                padding: 5px 16px;
            }
            
            @media screen and (max-width: 768px) {
                .card-image{
                    float: none;
                    display: block;
                    width: 100%;
                    margin: 0px;
                }

            }

        </style>
        <!-- <h2 class="page-heading">Products (card)</h2> -->
        <template is="dom-if" if="{{showLoader}}">
        <div align="center"><paper-spinner active>...</paper-spinner></div>
        </template>

        <iron-ajax auto
          url="https://api.github.com/users?since=135"
          params='{"type":"all"'
          handle-as="json"
          on-response="handleResponse" last-response="{{ajaxResponse}}"></iron-ajax>

        <template is="dom-if" if="{{!showLoader}}">
        <div  class="vertical-section-container">
            <template is="dom-repeat" items="[[ajaxResponse]]">
            <div class="card-image">                
            <img src="[[item.avatar_url]]"  sizing="cover" style="width:100%"/>
            <div class="title">{{item.login}}</div>
            <div class="container">            
            <div class="elipsis"><span class="hilight">Type </span> {{item.type}}</div>
            </div>
                
            </div>
            </template>
        </div>
        </template>

    </template>
    <script>
    class MyPproductCard extends Polymer.Element{
        static get is(){return "my-product-card";}
        static get properties() {
            return {
                showLoader:{
                type:Boolean,
                value:true        

                }
            }
           
        }
        handleResponse(){
            this.showLoader =false;
        }


    }

    customElements.define(MyPproductCard.is,MyPproductCard);
    </script>
</dom-module>