<!--
@license
Copyright (c) 2016 The Polymer Project Authors. All rights reserved.
This code may only be used under the BSD style license found at http://polymer.github.io/LICENSE.txt
The complete set of authors may be found at http://polymer.github.io/AUTHORS.txt
The complete set of contributors may be found at http://polymer.github.io/CONTRIBUTORS.txt
Code distributed by Google as part of the polymer project is also
subject to an additional IP rights grant found at http://polymer.github.io/PATENTS.txt
-->

<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="../bower_components/paper-input/paper-input.html">

<link rel="import" href="shared-styles.html">

<dom-module id="my-view2">
  <template>
    <style include="shared-styles">
      :host {
        display: block;

        padding: 10px;
      }
    </style>

    <div class="card">
      <!-- <div class="circle">2</div>
      <h1>View Two</h1>
      <p>Ea duis bonorum nec, falli paulo aliquid ei eum.</p>
      <p>Id nam odio natum malorum, tibique copiosae expetenda mel ea.Detracto suavitate repudiandae no eum. Id adhuc minim soluta nam.Id nam odio natum malorum, tibique copiosae expetenda mel ea.</p> -->

      <h2>Data Entry Form</h2>

      <paper-input error-message="This field is required" auto-validate required label="First Name"></paper-input>
      <paper-input error-message="This field is required" auto-validate required label="Last Name"></paper-input>
      <paper-input error-message="This field is required" auto-validate required label="Address"></paper-input>
      <paper-input error-message="Invalid input" pattern="[0-9]{6}" auto-validate required label="Pin"></paper-input>
      <paper-input error-message="Invalid input" pattern="[789][0-9]{9}" auto-validate required label="Phone"></paper-input>
      <paper-input error-message="Invalid input" pattern="[0-9]{1,15}" auto-validate required label="Gross Salary"></paper-input>
      <paper-input error-message="Invalid input" pattern="[0-9]{1,15}" auto-validate required label="Net Salary"></paper-input>


      <!-- <paper-input error-message="letters only!" pattern="[a-zA-Z]*" auto-validate label="this input requires letters only"></paper-input>
      <paper-input value="pre-filled 123" error-message="letters only!" pattern="[a-zA-Z]*" auto-validate label="this input requires letters only"></paper-input>
      <paper-input allowed-pattern="[a-zA-Z]" auto-validate label="this input will only let you type letters"></paper-input>
      <paper-input error-message="letters only!" pattern="[a-zA-Z]*" label="this input is manually validated" required id="inputForValidation"></paper-input> -->

      <button onclick="validate()">Validate!</button>


    </div>
  </template>

  <script>
    class MyView2 extends Polymer.Element {
      static get is() { return 'my-view2'; }
    }

    window.customElements.define(MyView2.is, MyView2);
  </script>
</dom-module>
