<link rel="import" href="../bower_components/polymer/polymer-element.html">

<dom-module id="product-card">
    <template>
        <style>
            :host{
                display: block;
                padding: 15px;
            }
            .page-heading{
                color: blue;
            }
        </style>
        <!-- <h2 class="page-heading">Product List</h2> -->
    </template>
    <script>
    class ProductCard extends Polymer.Element{
        static get is(){return "product-card"}
    }

    customElements.define(ProductCard.is,ProductCard);
    </script>
</dom-module>